<div class="row">
	<div class="col">
		<h1 class="display-2">Active tasks</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Description</th>
					<th scope="col">Srage</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let task of filteredTasks" (click)="onSelectTask(task)" [class.table-info]="task === selectedTask">
					<th scope="row">{{task.id}}</th>
					<td>{{task.title}}</td>
					<td>{{task.description}}</td>
					<td>{{task.stage}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
Selected task: {{ selectedTask | json }}