<div class="row">
	<div class="col">
		<h1 class="display-2">Active tasks</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Description</th>
					<th scope="col">Stage</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let task of filteredTasks" (click)="onSelectTask(task)" [class.table-info]="task === selectedTask">
					<th scope="row">
						{{ task.id }}
						<div *ngIf="selectedTask">
							<button mat-raised-button color="primary" (click)="onDeleteClick(task.id)">Delete</button>
						</div>
					</th>
					<td>{{ task.title }}</td>
					<td>{{ task.description }}</td>
					<td>{{ task.stage }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<stage-filter [stage]="selectedStage" (onChange)="onFilterChange($event)"></stage-filter>

<button mat-raised-button color="primary" (click)="onNewClick()">New Task</button>
<div class="col" *ngIf="selectedTask">
  <task-form [task]="selectedTask" (onSubmit)="onFormSubmit($event)"></task-form>
</div>